#-------------⚙️⚙️⚙️BOT CONFIG⚙️⚙️⚙️
# RU: Токен телеграм бота
# EN: Telegram Bot Token
TG_TOKEN=...

# RU: Главные(системные) администраторы (телеграм id). Список может быть бесконечный, разделяйте запятыми
# EN: Root admins (telegram id). The list can be endless, separate with commas
DEFAULT_ADMINS=...

# RU: Боты для уведомлений в топики / Один бот - максимум 20 регистраций в секунду
# EN: ALERT BOTS FOR TOPICS / One bot - maximum 20 registrations per second
ALERT_BOTS=False

#-------------⛔️⛔️⛔️Системные зависимости | System dependencies⛔️⛔️⛔️
# RU: Настоятельно не рекомендую менять значения, указанные ниже, может привести с ошибкам и нестабильной работе
# EN: I strongly do not recommend changing the values indicated below, it can lead to errors and unstable operation

# DATABASE CONNECTION
MYSQL_HOST=...
MYSQL_PORT=3306
MYSQL_USER=...
MYSQL_PASSWORD=...
MYSQL_DATABASE=...

# SERVER STATES
PROJECT_DEBUG=True
SQL_DEBUG=False
RESET_TEXTS=False

# TROTTLING CONFIG: Events/Updates
THROTTLING_MAX_RATE=5
THROTTLING_PERIOD=1

# ALBUM MIDDLEWARE CONFIG
ALBUM_LATENCY=0.02
ALBUM_AUTO_DELETE=30.0